.contact_bg_img {
    background-image: url(/caitlin_theme/static/src/img/contact-bg.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.contact-time {
    margin: 32px 17px;
    padding: 32px;
    border: 8px solid #fff;
    padding: 32px 16px;
}

.contact_us_3 {
    .header {
        color: #ffffff;
        font-weight: bold;
        margin: 32px 9px;
        font-size: 34px;
    }

    .text-large {
        margin: 14px;
        font-size: 22px;
        line-height: 2;
    }
}
