.header-top {
  position: relative;
  font-size: 13px;
  padding: 15px 0px;
  background: #323239;
  span {
    position: relative;
    margin-right: 25px;
    font-size: 16px;
    color: #fff;
    line-height: 26px;
  }
  .social_icon_header {
    a {
      position: relative;
      display: inline-block;
      font-size: 10px;
      font-weight: normal;
      color: #fff;
      padding: 0px 6px;
      line-height: 26px;
    }
  }
}

.header-info {
  display: none;
}

#top_menu {
  .nav-item > a.nav-link {
    font-size: 17px;
    color: #262626;
    line-height: 30px;
    font-weight: 700;
    opacity: 1;
    text-transform: capitalize;
    padding: 20px 18px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
  }
  .nav-item.divider {
    display: none;
  }
}

nav.navbar {
  background: white !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $-alpha !important;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $-alpha !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (min-width: 1281px) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}